<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title> Faculty </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:if="${not #lists.isEmpty(faculty)}">
<h2>Ethnic Group List</h2>
<table class="glyphicon glyphicon-calendar table-bordered">
<tr>
<th>Id</th>
<th> Name</th>
</tr>
<tr th:each="faculty : ${faculty}">
<td th:text="${faculty.id}"></td>
<td th:text="${faculty.name}"></td>
</tr>
</table>
</div>
</body>
</html>
