<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mother Language</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:if="${not #lists.isEmpty(motherlanguage)}">
<h2>Mother Language</h2>
<table class="glyphicon glyphicon-calendar table-bordered">
<tr>
<th>Id</th>
<th> Mother Language</th>
</tr>
<tr th:each="motherlanguage : ${motherlanguage}">
<td th:text="${motherlanguage.id}"></td>
<td th:text="${motherlanguage.motherlanguage}"></td>
</tr>
</table>
</div>
</body>
</html>