<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title> House Group</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:if="${not #lists.isEmpty(housegroup)}">
<h2> House Group</h2>
<table class="glyphicon glyphicon-calendar table-bordered">
<tr>
<th>Id</th>
<th> House Group</th>
</tr>
<tr th:each="housegroup : ${housegroup}">
<td th:text="${housegroup.id}"></td>
<td th:text="${housegroup.housegroup}"></td>
</tr>
</table>
</div>
</body>
</html>