<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Differently Able</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:if="${not #lists.isEmpty(differentlyable)}">
<h2>Differently Able</h2>
<table class="glyphicon glyphicon-calendar table-bordered">
<tr>
<th>Id</th>
<th> Name </th>
</tr>
<tr th:each="differentlyable : ${differentlyable}">
<td th:text="${differentlyable.id}"></td>
<td th:text="${differentlyable.name}"></td>
</tr>
</table>
</div>
</body>
</html>